.header {
  background-color: rgba(246, 233, 202, 1);
  color: rgba(37, 68, 91, 1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
}

.header__logo img {
  height: 40px; /* ajuste ici la taille du logo */
  width: auto;
  display: block;
}

.header__nav {
  display: flex;
  gap: 1.5rem;
}

.header__link {
  text-decoration: none;
  color: rgba(37, 68, 91, 1);
  font-weight: bold;
  font-size: 1rem;
}
